*{
    margin:0;
    padding:0;
}
body{
    height:100vh;
    display:flex;
    align-items: center;
    justify-content:center;
    background:url("img/3. Background/Layers/5. Water/D1.png");
}

canvas{
    background:rgb(41, 32, 101);
    border:2px solid white;
}