
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face { font-family: "Luckiest_Guy"; src: url("img/5.Font/Luckiest_Guy/Luckiest_Guy.ttf") format("truetype"); }

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden; /* verhindert jeden Scroll */
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("img/3. Background/Layers/5. Water/D1.png") no-repeat center center;
    background-size: cover;
}
button{
    cursor:pointer;
}
.screen{
    background:#2E276F;
}
canvas {
    border: 2px solid white;
    width: 100%;
    height: auto;
    max-width: 720px;
    aspect-ratio: 720 / 530;
    border: 2px solid white;    
}
.hidden {
    display: none !important;
}
.screen {
    width: 720px;
    height: 530px;
    background:#2E276F;
}
#mainMenu {
    border: 1px solid white;
}
#startButton{
    background:#BF067F;
    color:white;
    border:3px solid white;
    padding:5px;
    width:50%;
    height:100px;
    border-radius:20px;
    font-family:"Luckiest_Guy";
}
.centeredFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.littleGap {
    gap: 15px;
}